 <footer class="footer">
    <div class="container footer-text">
        <div class="row text-muted">
            <div class="col-md-10">2021 Recipies App</div>
            <div class="col-md-2 text-right-align placeholders">
                <div class="col-md-4"><span class="glyphicon glyphicon-envelope"> </span></div>
                <div class="col-md-4"><span class="glyphicon glyphicon-user"> </span></div>
                <div class="col-md-4"><span> <span class="glyphicon glyphicon-phone-alt"></span></div>
            </div>
        </div>
    </div>
</footer>